header
    height: 100vh
    float: left
    width: 100%
    background:
        image: url(../img/hero.jpg)
        display: flex
        size: cover
        position: center
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    
    .hero
        vertical-align: middle
        width: 25%
        margin-top: 20%