.wee-nippers
    width: 33%
    height: 250px
    background-color: #CB6085
    float: left
    
    .wee-nippers-thumb
        width: 100%
        
.localise
    width: 33%
    height: 250px
    background-color: white
    float: left
        
    .localise-thumb
        width: 100%   
        
.vision
    width: 33%
    height: 250px
    background-color: black
    float: right
        
    .vision-thumb
        width: 100%