.portfolio
    margin: 0 auto
    padding: 0 auto

.wee-nippers
    width: 33%
    height: 350px
    background-color: #CB6085
    float: left
    
    .wee-nippers-thumb
        height: 100%
        display: block
        margin: auto
        
.localise
    width: 33%
    height: 350px
    background-color: white
    float: left
        
    .localise-thumb
        height: 100%
        display: block
        margin: auto   
        
.vision
    width: 33%
    height: 350px
    background-color: black
    float: right
        
    .vision-thumb
        height: 100%
        display: block
        margin: 0 auto
        padding: 0
    
    
.miboard
    width: 33%
    height: 1000px
    background-color: #20A2F4 
    float: left
        
    .miboard-thumb
        width: 100%
        display: block
        margin: 0 auto
        vertical-align: middle
        
.alpha-graphics
    width: 67%
    background-color: white
    float: left
        
    .alpha-graphics-thumb
        width: 100%